* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #333;
}

#txtOutput, #txtFuel {
  color: #f4f4f4;
  text-align: center;
}

h1 {
  margin-top: 10rem;
}

#txtFuel {
  margin-top: 1rem;
  font-size: 1.2rem;
}

div {
  width: 25rem;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div button {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  margin: 1rem;
}
